/****************
 * FridgID colors *
 ****************/


$teal: #55C3B6;
$hover-teal: #46A095;
$orange: #DB633D;
$hover-orange: #B45232;
$lighter-grey: #DDDDDD;
$light-grey: #BCBCBC;
$medium-grey: #5A5A5A;
$dark-grey: #3C3C3C;
$darkest-grey: #2D2D2D;

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
