ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

li {
  background-color: #55C3B6;

}

html {
  line-height: 1;
}

#autocomplete-container {
  width: 90%;
  margin: 50px auto;
  color: #FFFFFF;
}

#autocomplete-container #autocomplete-input {
  background: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 96%;
  padding: 20px 15px;
  border: 2px solid #46A095 ;
  border-radius: 3px;
  background-color: #46A095;
  outline: none;
  font-size: 16px;
  color: #FFFFFF;
  &::placeholder {
    color: #FFFFFF;
    font-weight: bold;
  }
}

#autocomplete-container #autocomplete-input:focus {
  background: #55C3B6;
}

#autocomplete-results {
  display: none;
  width: 96%;
  margin-top: -2px;
  color: #FFFFFF;
}
#autocomplete-results li {
  width: 100%;
  padding: 20px 15px;
  border: 2px solid #46A095;
}
#autocomplete-results li:hover {
  background: #46A095;
}

#selected li {
  width: 48%;
  padding: 16px 15px;
  margin: 20px 0px;
  border-right: 2px solid #46A095;
  border-bottom: 2px solid #46A095;
  border-left: 2px solid #46A095;
  border-radius: 3px;
  display: inline-block;
  content: 'x';
}
#selected li:hover {
  background: #46A095;
}

.image-home {

}



