<ol>
  <% ingredients.each do |ing| %>
    <% if ing.seasonal == 0 %>
      <li style="background-color: #ED8260">
    <% elsif ing.seasonal == 1 %>
      <li style="background-color: #BCBCBC">
    <% else %>
      <li style="background-color: #55C3B6">
    <% end %>
      <div class="checkbox">
        <% if selected.include? ing.name %>
          <div class="x1"></div>
          <div class="x2"></div>
        <% else %>
          <div></div>
          <div></div>
        <% end %>
      </div>
      <%= ing.name.upcase %>
    </li>
  <% end %>
</ol>

<script>
  const bx = document.querySelectorAll('.checkbox');

  for (let i = 0; i < bx.length; i++) {
    bx[i].addEventListener('click', (e) => {
      bx[i].children[0].classList.toggle("x1")
      bx[i].children[1].classList.toggle("x2")
    });
  }
</script>
