<ol>
  <% ingredients.each do |ing| %>
    <% if ing.seasonal == 1 %>
      <li style="background-color: #FB9738">
    <% elsif ing.seasonal == 0 %>
      <li style="background-color: #D73B2A">
    <% else %>
      <li style="background-color: #396CC6">
    <% end %>
      <div class="checkbox">
        <div class="x1"></div>
        <div class="x2"></div>
      </div>
      <%= ing.name.upcase %>
    </li>
  <% end %>
</ol>

<script>
  const bx = document.querySelectorAll('.checkbox');

  for (let i = 0; i < bx.length; i++) {
    bx[i].addEventListener('click', (e) => {
      bx[i].children[0].classList.toggle("x1")
      bx[i].children[1].classList.toggle("x2")
    });
  }
</script>
