<h4 class="title-h4-show"><%= @recipe.title.upcase %></h4>
<div id="ing-chart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    const data = google.visualization.arrayToDataTable([
      ['Season', 'ingredients'],
      ['Not in season', <%= @stats[0] %>],
      ['Without season', <%= @stats[1] %>],
      ['In season', <%= @stats[2] %>]
    ]);
    const options = {
      'width':300,
      'height':200,
      'slices': {
        0: { color: '#ED8260' },
        1: { color: '#BCBCBC' },
        2: { color: '#55C3B6' }
      }
    };
    const chart = new google.visualization.PieChart(document.getElementById('ing-chart'));
    chart.draw(data, options);
  }
</script>
