<p><em><%= recipe.description %></em></p>

<h5 class="title-h4-method">HOW TO</h5>

<p class="method-description">
  <ul>
    <% recipe.method.each do |method| %>
      <li>
        <%= method %>
      </li>
    <% end %>
  </ul>
</p>


