<%= render 'shared/navbar_show' %>

<button id="btn-method">COOK IT</button>
<button id="btn-ingrs">INGREDIENTS</button>
<div id="page-method" style="display: none;">
  <%= render 'method' %>
</div>
<div id="page-ingredients">
  <%= render 'ingredients' %>
</div>

<%= javascript_pack_tag 'results' %>
