<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-wrapper">
      <div id="footer text-center">
        <div class="footer-items">
          <div class='list-nostyle-sign'>Sign up</div>
          <div class='list-nostyle-seasons'>Seasons</div>
          <div class='list-nostyle-about'>About</div>
        </div>

        <div class="footer-links list-fab">
          <%= link_to '#'  do %>
            <i class="fab fa-instagram"></i>
          <% end %>

          <%= link_to '#'  do %>
            <i class="fab fa-twitter"></i>
          <% end %>

          <%= link_to '#'  do %>
            <i class="fab fa-github"></i>
          <% end %>
        </div>

        <div>
          <p class="footer-copyright-p">&copy FridgID 2018</p>
        </div>

      </div>
    </div>
  </div>
</div>
