<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer-wrapper">
      <div id="footer text-center">
        <div class="footer-items text-center">
          <div class='list-nostyle-sign'>SIGN UP</div>
          <div class='list-nostyle-seasons'>SEASONS</div>
          <div class='list-nostyle-about'>ABOUT</div>
        </div>

        <div class="footer-links list-fab text-center">
          <p class="footer-links-p text-center">info@fridgid.se</p>
          <%= link_to '#'  do %>
            <i class="fab fa-instagram"></i>
          <% end %>

          <%= link_to '#'  do %>
            <i class="fab fa-twitter"></i>
          <% end %>

          <%= link_to '#'  do %>
            <i class="fab fa-github"></i>
          <% end %>
        </div>

        <div>
          <p class="footer-copyright-p text-center">&copy FridgID 2018</p>
        </div>

      </div>
    </div>
  </div>
</div>
