<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div id="footer">
        <div class="footer-links list-fab">
          <%= link_to 'https://www.instagram.com/marbear9000/'  do %>
            <i class="fab fa-instagram"></i>
          <% end %>

          <%= link_to 'https://www.instagram.com/marbear9000/'  do %>
            <i class="fab fa-twitter"></i>
          <% end %>

          <%= link_to 'https://www.instagram.com/marbear9000/'  do %>
            <i class="fab fa-github"></i>
          <% end %>
        </div>

        <div class="footer-items">
          <li class='list-nostyle'>Sign up |</li>
          <li class='list-nostyle'>Seasons |</li>
          <li class='list-nostyle'>About </li>
        </div>

        <div class="footer-copyright">
          <p class="footer-copyright-p">&copy FridgID 2018</p>
        </div>
      </div>
    </div>
  </div>
</div>
