<div class="navbar-wagon">
  <button class="btn btn-outline-secondary border border-search-icon" type="button">
    <%= link_to recipes_path, class: "navbar-wagon-brand" do %>
    <i class="fa fa-search"></i>
  </button>
  <%= image_tag "logo.png", height: 50 %>
  <% end %>
  <i class="far fa-user"></i>
</div>



