<div class="navbar-wagon">
  <button class="btn btn-outline-secondary border border-search-icon" type="button">
  </button>
  <%= image_tag "logo_white.png", height: 50, class: "navbar-wagon-brand-index" %>
  <i class="far fa-user"></i>
</div>


