
<div class="navbar-wagon">
  <!-- Logo -->
  <!-- logo link should be to profile page when working -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <i class="far fa-user"></i>
</div>
