<%= render 'shared/navbar_results' %>

<div class="navbar-wagon">
  <%= link_to ingredients_path, class: "navbar-wagon-brand" do %>
    <button class="btn btn-outline-secondary border border-search-icon" type="button">
      <i class="fas fa-chevron-left"></i>
    </button>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>
  <i class="far fa-user"></i>
</div>
