<div class="navbar-wagon">
  <%= link_to recipes_path(i: dash_ingrs), class: "navbar-wagon-brand" do %>
    <button class="btn btn-outline-secondary border border-search-icon" type="button">
      <i class="fas fa-chevron-left"></i>
    </button>
  <% end %>
  <%= image_tag "logo_white.png", height: 50 %>
  <i class="far fa-user"></i>
</div>



