<div class="navbar-wagon">
  <%= link_to ingredients_path, class: "navbar-wagon-brand" do %>
    <button class="btn btn-outline-secondary border border-search-icon" type="button">
    </button>
    <%= image_tag "logo_white.png", height: 50, class: "navbar-wagon-brand-index" %>
  <% end %>
  <i class="far fa-user"></i>
</div>


