<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p><i class="fas fa-quote-left"></i><em> I’m a total foodie with real masterchef ambitions in the kitchen, however I’m ashamed to admit that I used to struggle a lot with eating according to season.</em></p>

      <p><em>But that all changed when I started using FridgID! With the app I have learned so much about eating seasonally, and the best part – everything tastes so much better when you cook with ingredients that at their top quality! </em><i class="fas fa-quote-right"></i></p>
      <p>– Lottie, 25</p>
    </div>
    <div class="carousel-item">
      <p><i class="fas fa-quote-left"></i><em> I have been guilty of throwing away foods that I have had in my fridge. This is since I can’t figure out what to do with them before they get old. This really used to bug me because I know how bad it is to waste food.</em></p>

      <p><em>The solution for me was to start using FridgID to find recipes that help me to use up what I have in my fridge, and I must say, this has been life changing! I can really recommend using FridgID for optimal food planning. </em><i class="fas fa-quote-right"></i></p>
      <p>– Cecile, 28</p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




