<%= render 'shared/navbar_index' %>


<div class="container">
 <div class="row">
  <div class="col-xs-12 col-md-6">
  <h2 class="title-index">WHAT TO EAT!</h2>
    <div id="autocomplete-container">
      <form action="#">
        <input type="text" placeholder="&#xf0fe     Add Ingredients" autofocus="true" id="autocomplete-input"></input>
        <p class="chosen-ingred">Chosen ingredients:</p>
        <ul id="autocomplete-results"></ul>
        <ul id="selected"></ul>
        <button id="get-recipes-btn">FIND YOUR RECIPE</button>
      </form>
    </div>
  </div>


  <img src="images/food.png"  alt="" height="600" width="600">


    <div class="col-xs-12 col-md-6">
      <div class="row">
        <h3 class="title-h2">WHAT TO EAT!</h3>
        <p class="text-center">Want to help the planet and your own pocket. FrigdID wants to help you. Simply search what ingredients you have in your fridge and FridgID will find a recipe for you.</p>
        <p class="text-center">Not only will FridgID match your ingredients to a recipe but also will provide recipes of what is in season.</p>
        <p class="text-center">Reduce your global imprint</p>
      </div>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'ing-auto' %>
