<%= render 'shared/navbar_pages' %>


<div class="title-h2">It's the food you have not wasted!</div>
<div class="search-container">
  <div id="autocomplete-container">
    <form action="#">
      <input type="text" placeholder="Add Ingredients" autofocus="true" id="autocomplete-input"></input>
      <ul id="autocomplete-results"></ul>
      <ul id="selected"></ul>
      <button id="get-recipes-btn">Get recipes!</button>
    </form>
  </div>
</div>
<%= javascript_pack_tag 'ing-auto' %>


<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2 class="title-h2">WHAT TO EAT!</h2>
      <p class="text-center">Want to help the planet and your own pocket. FrigdID wants to help you. Simply search what ingredients you have in your fridge and FridgID will find a recipe for you.</p>
      <p class="text-center">Not only will FridgID match your ingredients to a recipe but also will provide recipes of what is in season.</p>
      <p class="text-center">Find a great meal and reduce your global imprint</p>
    </div>
  </div>
</div>
