<%= render 'shared/navbar_results' %>
<div class="search-container">
  <div id="autocomplete-container">
    <form action="#">
      <input type="text" placeholder="insert ingredient" autofocus="true" id="autocomplete-input"></input>
      <ul id="autocomplete-results"></ul>
      <ul id="selected"></ul>
      <button id="get-recipes-btn">Get recipes!</button>
    </form>
  </div>
</div>
<%= javascript_pack_tag 'ing-auto' %>