.container {
  padding-right: 6%;
  padding-left: 6%;
  text-align: center;
}

.title-h1 {
  color: white;
  background-color: $teal;
  margin: 28px -6px 8px;
  padding: 8px;
}

.filter {
  font-size: 20px;
  margin: 0px -6px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.btn-filter {
  color: $teal;
  &:hover {
    color: $orange;
  }
}

.filter-buttons {
  display: none;
  color: $orange;
  margin-left: 20px;
  a {
    color: $teal;
    &:hover {
      color: $orange;
    }
  }
}

.title-h4 {
  padding: 5px;
}

.title-h4 i {
  color: $teal;
}

.btn {
  margin: 10px 0px 10px 0px;
}
.card {
  width: 48%;
  height: 235px;
  color: white;
  position: relative;
  text-align: center;
  border: none;
  margin: 1%;
  // box-shadow: 0.5px 0.5px 4px #999999;
}

.card-image {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  text-align: center;
  position: relative;
}

.card-details {
  height: 40%;
  background-color: $lighter-grey;
  line-height: 0.1;
  display: block;
  padding: 5px;
}

.card-like {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.stats {
  position: absolute;
  bottom: 0;
}

.stats p {
  font-size: 0.6rem;
  text-align: left;
  padding-left: 5px ;
  margin-bottom: 5px;
}

.stats i {
  color: $teal;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
