.footer-wrapper {
  background: $lighter-grey;
  margin-top: 15px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  padding: 0px 10px;
  color: $dark-grey;
  margin-top: 15px;
  position: relative;
}

.footer-links {
  color: $dark-grey;
  display: flex;
  align-items: left;
}

.list-fab {
  color: $dark-grey;
  text-decoration: none;
  font-size: 12px;
  padding: 0px 10px;
}

.fab {
  color: $dark-grey;
  padding: 0px 3px;
}

.fab:hover {
  color: $teal;
}

.list-nostyle {
  background-color: $lighter-grey;
  color: $dark-grey;
}

.footer-items {
  display: flex;
  align-items: right;
  font-size: 12px;
}

.footer-copyright {
  position: absolute;
  bottom: 0;
  left: 8px;
  margin: -11px;
}

.footer-copyright-p {
  font-size: 12px !important;
}
// .footer-items {

//   padding: 2px 0px;
//   margin: 14px;
//   display: flex;
//   justify-content: space-evenly;
// }

// .footer-items:hover {
//   color: $teal;
// }
// .footer-links {
//   background-color: $lighter-grey;
//   color: $dark-grey;
//   margin: 10px;
//   display: flex;
//   // justify-content: space-evenly;
// }



// .fab:hover {
//   color: $teal;
// }


// }
